<section class="full-height">
  <!--<div class="container w-100 h-100 wow animate__zoomIn " data-wow-duration="2s" data-wow-delay="0.5s">-->
  <div class="container w-100 h-100">
    <div class="row justify-content-center">
      <h2 *ngIf="!isDataRecieve" class="text-center mb-5 pb-1 section-title">Сделать заказ</h2>
      <h2 *ngIf="isDataRecieve" class="text-center mb-5 pb-1 section-title">Спасибо за заказ!</h2>
      <form *ngIf="!isDataRecieve" [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="col-10 col-md-6 col-lg-6 g-3 needs-validation" novalidate>
        <div class="row">
          <div class="col">
            <label for="validationCustom08" class="form-label mt-3">Товар</label>
            <input type="text" class="form-control" formControlName="productTitle" [(ngModel)]="formValues.productTitle" name="productTitle" id="validationCustom08"
                   [ngClass]="{'is-invalid': orderForm.get('productTitle')?.invalid && (orderForm.get('productTitle')?.dirty || orderForm.get('productTitle')?.touched)}">
            <div *ngIf="orderForm.get('productTitle')?.invalid && (orderForm.get('productTitle')?.dirty || orderForm.get('productTitle')?.touched)" class="invalid-feedback">
              Товар не выбран!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <label for="validationCustom01" class="form-label mt-3">Имя</label>
            <input type="text" class="form-control" formControlName="firstName" id="validationCustom01"
                   [ngClass]="{'is-invalid': orderForm.get('firstName')?.invalid && (orderForm.get('firstName')?.dirty || orderForm.get('firstName')?.touched)}">
            <div *ngIf="orderForm.get('firstName')?.invalid && (orderForm.get('firstName')?.dirty || orderForm.get('firstName')?.touched)" class="invalid-feedback">
              Введите корректное имя!
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <label for="validationCustom02" class="form-label mt-3">Фамилия</label>
            <input type="text" class="form-control" formControlName="lastName" id="validationCustom02"
                   [ngClass]="{'is-invalid': orderForm.get('lastName')?.invalid && (orderForm.get('lastName')?.dirty || orderForm.get('lastName')?.touched)}">
            <div *ngIf="orderForm.get('lastName')?.invalid && (orderForm.get('lastName')?.dirty || orderForm.get('lastName')?.touched)" class="invalid-feedback">
              Введите корректную фамилию!
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <label for="validationCustomPhone" class="form-label mt-3">Телефон</label>
            <input type="tel" class="form-control" formControlName="phone" id="validationCustomPhone"
                   (blur)="isPhoneFieldBlurred = true" [ngClass]="{'is-invalid': orderForm.get('phone')?.invalid && (orderForm.get('phone')?.touched || isPhoneFieldBlurred)}">
            <div *ngIf="orderForm.get('phone')?.invalid && (orderForm.get('phone')?.touched || isPhoneFieldBlurred)" class="invalid-feedback">
              Пожалуйста, оставьте номер телефона.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="validationCustom03" class="form-label mt-3">Страна</label>
            <input type="text" class="form-control" formControlName="country" id="validationCustom03"
                   [ngClass]="{'is-invalid': orderForm.get('country')?.invalid && (orderForm.get('country')?.dirty || orderForm.get('country')?.touched)}">
            <div *ngIf="orderForm.get('country')?.invalid && (orderForm.get('country')?.dirty || orderForm.get('country')?.touched)" class="invalid-feedback">
              Укажите страну.
            </div>
          </div>
          <div class="col-6">
            <label for="validationCustom05" class="form-label mt-3">Индекс</label>
            <input type="text" class="form-control" formControlName="zip" id="validationCustom05"
                   [ngClass]="{'is-invalid': orderForm.get('zip')?.invalid && (orderForm.get('zip')?.dirty || orderForm.get('zip')?.touched)}">
            <div *ngIf="orderForm.get('zip')?.invalid && (orderForm.get('zip')?.dirty || orderForm.get('zip')?.touched)" class="invalid-feedback">
              Пожалуйста, предоставьте действующий почтовый индекс.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="validationCustom06" class="form-label mt-3">Адрес</label>
            <input type="text" class="form-control" formControlName="address" id="validationCustom06"
                   [ngClass]="{'is-invalid': orderForm.get('address')?.invalid && (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)}">
            <div *ngIf="orderForm.get('address')?.invalid && (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)" class="invalid-feedback">
              Пожалуйста, введите свой адрес.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="validationCustom07" class="form-label mt-3">Комментарий к заказу</label>
            <input type="text" class="form-control" formControlName="comment" id="validationCustom07"
                   [ngClass]="{'is-invalid': orderForm.get('comment')?.invalid && (orderForm.get('comment')?.dirty || orderForm.get('comment')?.touched)}">
            <div *ngIf="orderForm.get('comment')?.invalid && (orderForm.get('comment')?.dirty || orderForm.get('comment')?.touched)" class="invalid-feedback">
              Пожалуйста, введите комментарий.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary mt-4" type="submit" [disabled]="isLoading">Отправить</button>
            <div *ngIf="!sucess && showError" id="ErrBlock" >
              <p class="text-center mt-4 text-danger"  >Произошла ошибка. Попробуйте еще раз.</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
